@import "tailwindcss";

@theme {
  --color-bg: #050505;
  --color-surface: #0a0a0a;
  --color-surface-hover: #111111;
  --color-primary: #0ea5e9;
  --color-text-main: #ededed;
  --color-text-muted: #888888;
  --color-border-color: #222222;
  --font-sans: 'Inter', sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
  }
}

/* Ocultar barra de rolagem (opcional para visual mais limpo) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg);
}
::-webkit-scrollbar-thumb {
  background: var(--color-border-color);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-text-muted);
}
